<header>

    <nav>
        <ul>
            <li>
                <a href="/user/login">LogIn</a>
            </li>
            <li>
                <a href="/user/register">Registrarse</a>
            </li>
            <li>
                <a href="/user/profile">Perfil</a>
            </li>
        </ul>
    </nav>

</header>